@use '../../styles/colors';

/* Notification */
.notifications {
	position: relative;

	&__icon {
		color: white;
		cursor: pointer;
		position: relative;
		margin-right: 1rem;
	}

	&__box {
		max-height: 50vh;
		width: 300px;
		position: absolute;
		top: 2rem;
		right: 0;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		color: white;
		z-index: 5;

		h3 {
			font-weight: 700;
			font-size: 20px;
		}
	}

	&__header {
		background-color: colors.$primaryBg;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		border-radius: 10px 10px 0 0;
		position: relative;
	}

	&__list {
		background: colors.$inputBg;
		border-radius: 0 0 10px 10px;
		position: absolute;
		overflow-y: auto;
		max-height: 50vh;
		width: 300px;

		.notification {
			font-size: 14px;
			margin: 1rem 0;
			padding-bottom: 0.2rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			display: flex;
			flex-direction: column;
			cursor: pointer;
			padding: 0.5rem 1rem;

			&.not-read {
				background: rgb(48, 58, 72);
			}

			&__time {
				margin-top: 0.2rem;
				font-size: 12px;
				color: #e0e0e0;
			}
		}
	}

	.mark-as-read {
		cursor: pointer;
		font-weight: 700;
		opacity: 0.8;
	}

	&__count {
		display: flex;
		background: colors.$primaryColor;
		height: 18px;
		width: 18px;
		font-size: 12px;
		font-weight: 700;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -5px;
		right: -10px;
	}
}