@use './colors';

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: colors.$defaultColor;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html {
    font-size: 14px;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    background: colors.$bodyBg;
    color: colors.$textColor;
}
