@use './colors';

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: colors.$defaultColor;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html {
    font-size: 14px;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    background: colors.$bodyBg;
    color: colors.$textColor;
}

a {
	color: colors.$defaultColor;
	text-decoration: none;
}

a:hover {
	color: colors.$primaryColor;
}
  
.user-online,
.user-offline {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	margin-left: 3px;
	z-index: 2;
}

.user-online {
	background: rgb(0, 219, 0);
}

.user-offline {
	background: rgb(248, 55, 55);
}
  
.this-user-notifications {
	display: flex;
	background: colors.$primaryColor;
	height: 20px;
	width: 20px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin-top: 3px;
}
